<div class="<%= timerView.class%>">
    <p>
        <span id="weeks"></span>
        Недели
    </p>

    <div class="space">:</div>
    <p>
        <span id="daysLeft"></span>
        Дни
    </p>

    <div class="space">:</div>
    <p>
        <span id="hours"></span>
        Часы
    </p>

    <div class="space">:</div>
    <p>
        <span id="minutes"></span>
        Минуты
    </p>

    <div class="space">:</div>
    <p>
        <span id="seconds"></span>
        Секунды
    </p>
</div>